.content--img img {
    width: 755px;
    height: 450px;
    object-fit: cover;
}

.content--grid {
    padding: 1rem 5rem;
    padding-right: 4rem;
    justify-content: center;
    text-align: left;
    padding-top: 5rem;
    background: #3E4450;
    height: 450px;
    width: 550px;
}
.content--grid h1 {
    color: #00ADEF;
    letter-spacing: 1px;
    font-size: 30px;
}

.content--grid p {
    font-family: 'Lato', sans-serif;
    color: #ffff;
    letter-spacing: 1.7px;
}

.content--grid a {
    color: #00ADEF;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .main__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 330px 330px;
        padding: 0;    
        overflow: hidden;
    }
    .content--grid{
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
        padding-top: 3rem;
        text-align: left;
        letter-spacing: 0px;
    }
    .content--img img {
        margin-top: 2rem;
        width: 400px;
        height: 300px;
        object-fit: cover;
        overflow: hidden;
    }
    .content--grid{
        width: 400px;
        margin-top: 1rem;
        height: 400px;
        
    }
    body {
        overflow-x: hidden; /* Hide vertical scrollbar */
    }
}